footer{
        margin-top: 16%;
        width:100%;
        
     
}
.ggeasy{
    margin-top: 3%;
}
.imagenTienda{
    align-items: center;
    margin-top: 0.5cm;
    margin-left: 2cm;
}
.cartaPocha{
    margin-top: 0.5cm;
}
.imagenMapa{
    margin-top: 0.5cm;
    margin-left: 2cm;
    width: 40%;
    height: 80%;
}