#textTituloNav{
color: #e43b3e;
}

#footerLinks{
margin-bottom: 15px;
}

/*--------------------------------------Pantalla Juegos--------------------------------------------------------*/
#juego1
{
 
    margin-top: 50px;
    

}

#juego2
{

    margin-top: 50px;
    
}

#juego3
{

    margin-top: 50px;
    margin-bottom: 50px;
    
}

#juego4
{

    margin-top: 50px;
    margin-bottom: 50px;
   
}
/*----------------------------------------------------------------------------------------------------------*/