#textTituloNav{
    color: #e43b3e;
    }
    
    #footerLinks{
    margin-bottom: 15px;
    }
    
    /*--------------------------------------Pantalla Juegos--------------------------------------------------------*/
    #juego1
    {
        float: left;
        margin-top: 50px;
        margin-left: 60px;
    
    }
    
    #juego2
    {
        float:left;
        margin-top: 50px;
        margin-left: 80px;
    }
    
    #juego3
    {
        float: left;
        margin-top: 50px;
        margin-left: 60px;
    }
    
    #juego4
    {
        float: left;
        margin-top: 50px;
        margin-left: 80px;
    }
    
   
    
    /*----------------------------------------------------------------------------------------------------------*/

    #divsHome{
        width: 600px;
        height: 250px;
    }
    
    #img1{
        width: 300px;
        height: 150px;
        margin-bottom: 50px;
        
    }
    #img2{
        width: 300px;
        height: 150px;
        margin-bottom: 50px;
    }
    #bracafelogo{
        width: 700px;
        height: 200px;
        position: relative;
        top: 0px;
        left: 25%;
    }

    #cardsBracafe{
        position: relative;
        width: 100%;
        height: 25px;    
    }
    .botonesVisitar{
        background-color: #e43b3e;
    }
    .imgCardsBracafe{
        width: 100%;
        height: 100%;
    }
    #imgQR{
        width: 75%;
        height: 75%;
        margin-left: 100px;
    }
    #imgMaps{
        width: 80%;
        height: 90%; 
        margin-left: 100px;
    }